<div class="nav_bar">
    <button type="button" class="btn btn-success" ng-click="open()">Добавить сотрудника</button>
</div>
<div class="search">
    <form class="form-inline">
        <div class="form-group serchform-wrap">
            <input type="text" class="form-control" id="inputsearch"
                   placeholder="Фамилия Имя" name="search" ng-model="search">
        </div>
        <a href="#/search/users"><button type="submit" class="btn btn-default" ng-click="serachCompetitor()">Поиск</button></a>
    </form>
</div>
<h1>Список сотрудников</h1>
<table class="table table-striped" id="competitors-table">
    <thead>
    <tr>
        <th>Удалить</th>
        <th>Редактировать</th>
        <th>Имя, фамилия сотрудника</th>
        <th>Дата</th>
        <th>Время прихода</th>
        <th>Время ухода</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="user in users  track by $index">
        <td>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-danger" ng-click="delete($index)">Удалить</button>
                <input type="hidden" class="form-control" name="deleteCompetitorId_{{$index}}" value="{{user.id}}">
            </div>
        </td>
        <td>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-success" ng-click="openUpdateDialog($index)">Редактировать</button>
                <input type="hidden" class="form-control" name="updateCompetitorId_{{$index}}" value="{{user.id}}">
            </div>
        </td>
        <td>{{ user.fio }}</td>
        <td>{{ user.date | date }}</td>
        <td>{{ user.start_time }}</td>
        <td>{{ user.end_time }}</td>
    </tr>
    </tbody>
</table>
<div class="pager">
    <ul>
        <li id="page_num" ng-repeat="page in pages">
            <a href="#/users/{{page + 1}}" ng-click="pageActive($event)">{{page + 1}}</a>
        </li>
    </ul>
</div>